{% extends 'admin_templates/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="text-center">
  <a href="{{url_for('add_subject')}}" class="btn btn-outline-primary">+ Add Subject</a>
</div>

<hr>

<div class="action-buttons d-flex flex-column align-items-center gap-3 mt-4">
  {% if subjects %}
  <a href="{{url_for('add_questionbank')}}" class="btn btn-success align-self-center mt-3">+ Add Question Bank</a>
  <a href="{{url_for('add_questions')}}" class="btn btn-info text-white">+ Add Questions</a>
  {% else %}
  <div class="alert alert-warning text-center mt-3" role="alert">
    Please add a subject first to create a question bank.
  </div>
  <a href="#" class="btn btn-secondary disabled" tabindex="-1" aria-disabled="true">+ Add Questions</a>
  {% endif %}
</div>

<hr>

<div class="question-banks-wrapper mt-4">
  <div>
    <h3 class="section-title">Question Banks</h3>

    {% if question_banks %}
    <div class="d-flex gap-3 flex-wrap">

      {% for bank in question_banks %}

      <div class="position-relative">
        <div class="dropdown">
          <a class="dropdown-toggle text-decoration-none fw-semibold text-primary px-2 py-1 bg-light rounded shadow-sm d-inline-block"
            href="#" data-bs-toggle="dropdown" aria-expanded="false">
            {{ bank.name }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-warning" href="{{url_for(
              'edit_questionbank',question_bank_id=bank.id)}}">Edit</a></li>
            <li>
            <form action="{{ url_for('delete_questionbank', question_bank_id=bank.id) }}" method="POST"
              onsubmit="return confirm('Are you sure you want to delete the question bank \'{{ bank.name }}\' and all its questions?');">
              <button type="submit" class="dropdown-item text-danger">Delete</button>
            </form>
          </li>
          </ul>
        </div>
      </div>

      {% endfor %}
    </div>

    {% else %}
    <p class="text-muted">No question banks available.</p>
    {% endif %}
  </div>
</div>

{% endblock %}